<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../../static/style/main.css">
</head>
<body>
    <nav>
        <li>
            <ul>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/gallery">Gallery</a>
        <a href="/services">Services</a>
            </ul>
        </li>
    </nav>
    <h1>This is homepage</h1>
</body>
</html>